
    <div class="col-lg-12">
   <div class="col-md-2">

   </div>
<div class="col-md-8" style="color: #122b40;">
<div class="card" style="background: #fff; border-radius: 10px; padding: 20px;">
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-9" style="padding-right: 0px;">
              <input id="new-cat" type="text" class="form-control" placeholder="New Category"
                     style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
            </div>
            <div class="form-group col-md-3" style="padding-left: 0px;">
               <span id="new-cat-bt" onclick="new_cat()" class="btn btn-primary btn-block" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px; font-weight: bolder;"><i class="glyphicon glyphicon-plus"></i> ADD</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">
        <select onchange="sort()" id="sort" class="form-control">
            <option value="">All Categories</option>
            <option value="1">Person</option>
            <option value="2">Food</option>
            <option value="3">Place</option>
            {% for k in cats %}
                <option value="{{ k.id }}">{{ k.name }}</option>
            {% endfor %}
        </select>
    </div>
    </div>
    <div class="col-md-2">
         <a onclick="nav('home')" href="#" class="btn btn-primary" style="float: right; font-weight: bolder;"><i class="glyphicon glyphicon-plus"></i> NEW</a><br><br>
    </div>
</div>

<br>
<div id="list-cont" style="min-height: 300px;">
    {% for l in list %}

    <div class="row card" style="width: 100%; min-height: 250px; padding: 20px; margin-left: 0px;">
        <div class="col-md-8">
            <div class="form-group">
                <label>TITLE</label>
                <input id="{{ l['rid']}}{{l['id']}}{{"title"}}" class="form-control" type="text" readonly value="{{ l['title'] }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
            <label>DATE CREATED</label>
                <input class="form-control" type="date" readonly value="{{ l['created_date'].split('T')[0] }}">
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>DESCRIPTION</label>
                <textarea id="{{ l['rid']}}{{l['id']}}{{"description"}}" class="form-control" style="resize: none" rows="10" readonly >{{ l['description'] }}</textarea>
            </div>
        </div>
        <div class="col-md-4">
           <div class="form-group">
                <label>CATEGORY</label>
               <select id="{{ l['rid']}}{{l['id']}}{{"category"}}" class="form-control" disabled >
                   <option {% if l['cat'] == 1 %}
                           selected
                           {% endif %}
                           value="1">Person</option>
               <option {% if l['cat'] == 2 %}
                           selected
                           {% endif %}
                           value="2">Food</option>
               <option {% if l['cat'] == 3 %}
                           selected
                           {% endif %}
                           value="3">Place</option>
                   {% for k in cats %}
                       <option{% if l['cat'] == k.id %}
                           selected
                           {% endif %}
                               value="{{ k.id }}">{{ k.name }}</option>
                   {% endfor %}
               </select>
           </div>
            <div class="form-group">
                <label>RANKING</label>
                <input id="{{ l['rid']}}{{l['id']}}{{"ranking"}}" type="number" class="form-control" readonly value="{{ l['ranking'] }}">
            </div>
            <div class="form-group">
                <div class="alert alert-info">
                    Last Modified:
                    <span id="{{ l['rid']}}{{l['id']}}{{"last-mod"}}">
                        {% if l['modified_date'] is not none %}
                            {{ l['modified_date'].split('T')[0] }}
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <span id="{{ l['rid']}}{{l['id']}}{{"edit-bt"}}" onclick="edit_list('{{ l['rid']}}', '{{ l['id']}}')" class="btn btn-default" style="font-weight: bolder;"><i class="glyphicon glyphicon-pencil"></i> EDIT</span>
                <span id="{{ l['rid']}}{{l['id']}}{{"log-bt"}}" onclick="log_list('{{ l['rid']}}', '{{ l['id'] }} ')" class="btn btn-primary" style="font-weight: bolder; float: right;"><i class="glyphicon glyphicon-time"></i> LOGS</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
<div class="col-md-2">

   </div>
</div>